p {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 2em;
}

body.legal p,
body.toc p {
    text-indent: 0;
    margin-top: 0;
    margin-bottom: 1em;
}

body.dedication p {
    text-indent: 0;
    margin-top: 1em;
    text-align: center;
}

p.center {
    text-align: center;
}

.toc-1 {
    margin-left: 1em;
}

.toc-2 {
    margin-left: 2em;
}

/*
 * Chapter Headers
 */

.element-header {
    text-align: center;
    white-space: nowrap;
    font-size: 125%;

    .long-bar,
    .short-bar {
        border-bottom: 1.5px solid black;
        display: inline-block;
        height: 0.6em;
    }

    .long-bar {
        width: 80%;
    }

    .short-bar {
        width: 30%;
    }

    .text {
        padding-right: 1em;
        padding-left: 1em;
    }
}

.element-title {
    text-align: center;
}

/*
 * Title
 */

div.title {
    text-align: center;

    .large {
        font-weight: bold;
        font-size: 200%;
    }

    .medium {
        font-weight: bold;
        font-size: 150%;
    }

    .author {
        margin-top: 2rem;
        font-size: 150%;
    }

    .publisher {
        margin-top: 2rem;
    }
}

/*
 * Epigraphs
 */

blockquote.epigraph {
    font-size: small;
    padding-left: 2em;
    padding-right: 2em;
    word-wrap: break-word;

    p {
        text-indent: 0;
    }

    p.attribution {
        text-align: right;
    }
}

/*
 * Paragraphs
 */

span.first-word {
    font-weight: bold;

    span.first-letter {
        font-size: 150%;
    }
}
