@import "weasyprint-base";

@page {
    @top-center {
        content: "";
    }
    @bottom-center {
        content: "";
    }
}

@page :left {
    @top-center {
        content: "";
    }
    @bottom-center {
        content: "";
    }
}

@page :right {
    @top-center {
        content: "";
    }
    @bottom-center {
        content: "";
    }
}
